@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------------------------------Colours */

body {
    background-color: #fafafa;
}

.bg-color-hero {
    background-color: red;
    color: #ffffff;
}

.bg-black {
    background-color: #161616 !important;
}

.bg-story {
    background: rgb(29, 149, 166);
    background: -moz-linear-gradient(90deg, rgba(29, 149, 166, 1) 0%, rgba(21, 170, 191, 1) 51%, rgba(29, 176, 196, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(29, 149, 166, 1) 0%, rgba(21, 170, 191, 1) 51%, rgba(29, 176, 196, 1) 100%);
    background: linear-gradient(90deg, rgba(29, 149, 166, 1) 0%, rgba(21, 170, 191, 1) 51%, rgba(29, 176, 196, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d95a6", endColorstr="#1db0c4", GradientType=1);
}

/*-----------------------------------Background images */

.ui-destination-ireland {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    /* bottom, image */
    url("../images/Ireland/ire3.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui-menu-destination-morocco {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    /* bottom, image */
    url("../images/Morocco/mor1.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui-menu-destination-iceland {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    /* bottom, image */
    url("../images/Iceland/ice1.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui-menu-destination-croatia {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    /* bottom, image */
    url("../images/Croatia/croatia6.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroaboutmeimg {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    /* bottom, image */
    url("../images/Iceland/ice7.jpg");
    height: 600px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.heroirelandimg {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    /* bottom, image */
    url("../images/Ireland/ire1.jpg");
    height: 600px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.heromorimg {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    /* bottom, image */
    url("../images/Morocco/mor2.jpg");
    height: 600px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.heroiceimg {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    /* bottom, image */
    url("../images/Iceland/ice3.jpg");
    height: 600px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}



.herocroimg {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    /* bottom, image */
    url("../images/Croatia/croatia2.jpg");
    height: 600px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.herotravel {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    /* bottom, image */
    url("../images/Iceland/ice9.jpg");
    height: 600px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}




/*-----------------------------------Special paddings/margins/text - General CSS area used more than once through out the site */

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;

}

h1,
h2,
h3,
h4 {
    margin: 0;
    color: #525252;
    font-family: "Roboto", sans-seriif;
}

.marginAuto {
    margin: auto;
}


.col {
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;

}

.row {

    margin-right: 0px;
    margin-left: -0px;
}



/*-----------------------------------Home page HeroHeading */

.herohomeimg {
    background: /* overlay effect achieved with gradient */
    linear-gradient( rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    /* bottom, image */
    url("../images/homepage/homeHero.jpg");
    height: 600px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


.hero-title {
    font-family: "Roboto", sans-seriif;
    font-weight: 300;
    font-size: 50px;
    color: #ffffff;
}

.hero-subtitle {
    font-family: "Roboto", sans-seriif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;

}

/*------------------------------------Navigation */

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7);
    font-size: 20px;
    padding: 0px 43px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255);
}


/*Dropdown*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-radius: .25rem;
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 4.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: rgba(255, 255, 255, .7);
    font-size: 20px;
    padding: 0px 43px;
}

.dropdown-item:hover {
    display: block;
    width: 100%;
    padding: 0.25rem 4.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


/*mobile navigation*/

#basicExampleNav {
    text-align: left;
}

.mr-auto,
.mx-auto {
    margin: 0;
    padding-top: 20px !important;
}

.navbar {
    z-index: 999;
}



/*-----------------------------------Homepage Section */

/*Home Destination Section*/

.list-inline-item:not(:last-child) {
    margin: 0;
}

.destinationcontainer {
    font-size: 0;
}

.mr-auto,
.mx-auto {
    margin: auto;
    padding-top: 40px;
}

#destinationNav {
    margin: 0;
}

#destinationNav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 400px;
    text-align: center;
    padding: 0;
    font-family: "Roboto";
}

.menuitem a {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    height: 400px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 45%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Roboto;
}


.btn-primary {
    color: #fafafa;
    background-color: #19717d;
    border-color: #19717d;
}

.btn-primary:hover {
    color: #fafafa;
    background-color: #525252;
    border-color: #ffffff;
}



/*Styling for the travel story section*/

.story-author h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
    color: #fafafa;
}

.story-author p {
    margin-top: 0;
    color: #fafafa;
}

.story-author img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



/*--------------------------------------Hover.css */

/*background color is set in the before*/

.hvr-fade {
    background: rgba(0, 0, 0, 0.3);
}

.hvr-fade:hover {
    background: rgba(0, 0, 0, 0.6);
    height: 400px;
}


/*-----------------------------------About Me & contact form 1*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 50px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="info"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
}

.center-form input {
    margin-bottom: 20px;
}



/*---------------------------------------Destinations*/

.destinationQuote {
    text-align: center;
    margin-top: 50px;
    text-align: center;
}

.destinationMessage {
    text-align: center;
    margin: 10px auto;
    max-width: 800px;
    text-align: justify;
}


/***** destination features *****/

.services-container.section-container {
    margin-bottom: 30px;
}

.services-box {
    padding-top: 30px;
    text-align: left;
}

.services-box .services-box-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;

    background: rgb(29, 149, 166);
    background: -moz-linear-gradient(90deg, rgba(29, 149, 166, 1) 0%, rgba(21, 170, 191, 1) 51%, rgba(29, 176, 196, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(29, 149, 166, 1) 0%, rgba(21, 170, 191, 1) 51%, rgba(29, 176, 196, 1) 100%);
    background: linear-gradient(90deg, rgba(29, 149, 166, 1) 0%, rgba(21, 170, 191, 1) 51%, rgba(29, 176, 196, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d95a6", endColorstr="#1db0c4", GradientType=1);

    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.services-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}


.des-item {
    width: 7em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: rgb(29, 149, 166);
    margin: 0.5em 1em;
    display: inline-block;
    color: white;
    position: relative;


}

.des-item a {
    text-decoration: none;
    color: #fafafa;
}

.des-item body {
    font-family: sans-serif;
    padding: 2em;
}


.des-item:hover {
    background: #525252;
    border-color: rgb(29, 149, 166);
}


.otherdescol {
    margin: auto;
    text-align: center;

}


/*-----------------------------------Travel Stories*/

/*-----------------------------------Resources*/

/*-----------------------------------Footer styles */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    text-align: center;
    padding-top: 15px;
}


.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #19717d;
}



/*-----------------------------------Media Queries*/

@media(max-width:992px) {
    .hero-subtitle {
        display: none;
    }
    .hero {
        height: 400px;
    }


}


/*@media only screen and (max-width: 600px) {
    .navbar {
        padding: 1.5rem 1rem;
    }
}
*/