@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------------------------------Colours */

body{
    background-color: #fafafa;
}

.bg-color-hero {
    background-color: red;
    color: #ffffff;
}

.bg-black {
  background-color: #161616 !important;
}

/*-----------------------------------Background images */

.ui-destination-ireland{
    background:   /* overlay effect achieved with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    /* bottom, image */url("../images/homepage/ireland2.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui-menu-destination-iceland{
    background:   /* overlay effect achieved with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    /* bottom, image */url("../images/homepage/iceland.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui-menu-destination-morocco{
   background:   /* overlay effect achieved with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    /* bottom, image */url("../images/homepage/morocco.jpg");
   text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.ui-menu-destination-prague{
    background:   /* overlay effect achieved with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    /* bottom, image */url("../images/homepage/prague1.png");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*-----------------------------------Special paddings/margins/text - General CSS area used more than once through out the site */

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;

}

h1,
h2,
h3,
h4 {
    margin: 0;
    color:#525252;
    font-family: "Roboto", sans-seriif;
}

/*-----------------------------------HeroHeading */

.hero {
    background: 
    /* overlay effect achieved with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */
    url("../images/homepage/homeHero.jpg");
    height: 600px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


.hero-title {
    font-family: "Roboto", sans-seriif;
    font-weight: 300;
    font-size: 50px;
    color: #ffffff;
}

.hero-subtitle {
    font-family: "Roboto", sans-seriif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;

}

/*------------------------------------Navigation */



.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.7);
    font-size: 20px;
    padding: 0px 43px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255);
}


/*Dropdown*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-radius: .25rem;
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 4.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: rgba(255,255,255,.7);
    font-size: 20px;
    padding: 0px 43px;
}

.dropdown-item:hover {
    display: block;
    width: 100%;
    padding: 0.25rem 4.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


/*mobile navigation*/
#basicExampleNav {
    text-align: left;
}

.mr-auto, .mx-auto {
    margin: 0;
    padding-top: 20px !important;
}





/*-----------------------------------Homepage Section */



.homepageWelcomeMessage{
    text-align: center;
    margin: 50px 0px 20px 0px;
}


/*Home Destination Section*/
.list-inline-item:not(:last-child) {
    margin: 0;
}

.destinationcontainer {
    font-size: 0;
}

.mr-auto, .mx-auto {
    margin: auto;
    padding-top:40px;
}

#destinationNav {
    margin: 0;
}

#destinationNav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 400px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    height: 400px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


.featureTravelStorySection{
    margin-top:50px;
    margin-bottom:50px;
}


/*Styling for the travel story section*/
.team-member {
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid fade-out($black, 0.9);
    border-radius: 225px;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}

.call2action{
  text-align:right;  
}




/*-----------------------------------Hover.css */

/*background color is set in the before*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 400px;
}



/*-----------------------------------About Me & contact form 1*/

.buttonContainer{
    text-align: right;
    
}

.contact-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top:25px;
    margin-bottom:50px;
}

.center-form{
    padding-top:10px;
    margin:0 auto; /* 0 top and bottom auto on left and right will center it*/
    max-width:70%;
}

button[type="submit"]{
    margin-top:15px;
    margin-bottom: 20px;
    color:#fafafa;
    background-color: #e84610
}



/*-----------------------------------Destinations*/

/*-----------------------------------Travel Stories*/

/*-----------------------------------Resources*/

/*-----------------------------------Footer styles */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    text-align: center;
    padding-top: 15px;
}


.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: blue;
}



/*-----------------------------------Media Queries*/
@media(max-width:992px){
.hero-subtitle{
    display:none;
}
.hero {
    height:300px;
}


}


@media only screen and (max-width: 600px){
    .navbar {
    padding: 1.5rem 1rem;
}
    
}


