@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------------------------------Colours */

.bg-color-hero {
    background-color: red;
    color: #ffffff;
}

/*-----------------------------------Background images */

.ui-destination-ireland{
    background: url("../images/homepage/ireland.jpg");
}

.ui-menu-destination-iceland{
    background: url("../images/homepage/iceland.jpg");
}

.ui-menu-destination-morocco{
   background: url("../images/homepage/morocco.jpg");
} 

.ui-menu-destination-prague{
    background: url("../images/homepage/prague.jpg");
}


/*-----------------------------------Special paddings/margins/text - General CSS area used more than once through out the site */

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;

}


/*-----------------------------------Heading */

.hero {
    background: url("../images/homepage/homeHero.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.hero-title {
    font-family: "Roboto", sans-seriif;
    font-weight: 300;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.hero-subtitle {
    font-family: "Roboto", sans-seriif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}




/*-----------------------------------Hover.css */

/*background color is set in the before*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 300px;
}


/*-----------------------------------Homepage Sections */

.list-inline-item:not(:last-child) {
    margin: 0;
}

.destinationcontainer {
    font-size: 0;
    
}

.mr-auto, .mx-auto {
    margin: auto;
    padding-top:40px;
}

#destinationNav {
    margin: 0;
}

#destinationNav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 300px;
    /*profile image is 360 in total*/
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    height: 300px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----------------------------------About Me*/

/*-----------------------------------Destinations*/

/*-----------------------------------Travel Stories*/

/*-----------------------------------Resources*/

/*-----------------------------------Footer styles */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    text-align: center;
    padding-top: 15px;
}


.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: blue;
}



/*-----------------------------------Media Queries*/
@media(max-width:992px){
.hero-subtitle{
    display:none;
}
}

